html { 
    zoom: 90%;
}

::selection {
    color: white;
    background-color: #3C8DBC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
}

header {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0 20px;
    z-index: 1000;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

header div {
    display: flex;
    align-items: center;
    margin-right: auto;
}

header img {
    height: 40px;
    margin-right: 20px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    transition: font-size 0.3s ease, background-color 0.3s, transform 0.3s ease; 
}

nav ul li a:hover {
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    transform: translateY(-3px);
}

.hamburger-menu {
    display: none;
    font-size: 30px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.SM-button {
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    background-color: #3C8DBC;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.SM-button:hover {
    transform: scale(1.05);
    background-color: #5094bb;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.hero {
    height: 111.1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    background-image: url('/src/img/bk2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero h1 {
    font-size: 58px;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 1s forwards;
}

.hero p {
    font-size: 24px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s 0.5s forwards;
}

.hero-text {
    background-color: #8b8b8b81;
    border-style: unset;
    width: 800px;
    height: 200px;
    border-radius: 10px;
    animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

button {
    background-color: #3C8DBC;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.3s ease;
}

button:hover {
    background-color: #5094bb;
    transform: translateY(-3px);
}

.section-title {
    margin-bottom: 20px;
    font-size: 36px;
    color: #333;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 1s forwards; 
}

.content0 {
    padding: 50px;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    background-size: cover;
    margin: 40px 150px;
    border-radius: 5px;
}

.content0.show {
    opacity: 1;
    transform: translateY(0);
    padding: 50px; 
}

.p-content1 {
    font-size: 20px;
    margin-bottom: 20px;
}

.content1 {
    margin: 50px auto;
    padding: 60px 50px;
    border: 2px solid #3C8DBC;
    border-radius: 10px;
    background-color: #f4f4f4;
    max-width: 1000px;
    text-align: center;
    color: #333;
}

.content1 h2 {
    color: #3C8DBC;
    margin-bottom: 20px;
}

.content1 img {
    display: block;
    margin: 30px auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

#servicos {
    background-color: #ffffff;
    padding: 60px 20px;
}

#servicos h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 1s forwards;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.service {
    background: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
}

.service:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.contents {
    position: relative;
    padding: 30px 10px;
    text-align: center;
}

.parceiros {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.parceiro {
    text-align: center;
    margin: 10px;
}

.parceiro img {
    width: 150px;
    height: auto;
    margin-top: 10px;
    transition: transform 0.3s ease;
}

.parceiro img:hover {
    transform: scale(1.1);
}

footer {
    background-color: #3C8DBC;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
    position: relative;
}

footer p {
    font-size: 16px;
}

#map {
    height: 400px;
    width: 40%;
    margin: 40px auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.contact-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #cecece;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.contact-btn:hover {
    background-color: #d1d1d1;
    transform: scale(1.1);
}

.contact-modal {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 30px;
    width: 300px;
    z-index: 1000;
}

.contact-modal-content {
    background-color: #fff;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    text-align: center;
    position: relative;
    animation: slideIn 0.3s ease-out;
    border: 2px solid #5094bb;
}

.contact-modal-content h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.contact-modal-content p {
    font-size: 16px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    background: #3C8DBC;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-btn:hover {
    background-color: #5094bb;
}

.titulo-map {
    text-align: center;
    margin: 130px 0 20px;
    margin-bottom: 40px;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

.mapa-legenda {
    display: flex; 
    align-items: flex-start; 
}

#mapa-brasil {
    margin-right: 20px; 
}

#mapa-brasil img {
    width: 120%; 
}

.ul-map {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; 
    margin-top: 300px;
    margin-left: 100px;
}

#li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.andre::before,
.elson::before,
.mytempo::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.andre::before {
    background-color: #EE243D;
}

.elson::before {
    background-color: #0C506D;
}

.mytempo::before {
    background-color: #0C142C;
}

.map-titulo {
    text-align: center;
    margin: 130px 0 20px;
    margin-bottom: 20px;
    width: 100%;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px) {
    header {
        height: 60px;
        padding: 0 10px;
    }

    .hero {
        background-image: url('/src/img/background-temp-retrato.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    } 

    .hamburger-menu {
        display: block;
    }

    .nav-menu {
        opacity: 0;
        transform: translateY(-100%);
        transition: opacity 0.5s ease, transform 0.5s ease;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background-color: #3C8DBC; 
    }
    
    .nav-menu.active {
        opacity: 1;
        transform: translateY(0);
        font-size: 24px;
    }

    .nav-menu ul li {
        opacity: 0; 
        transition: opacity 0.5s ease-in-out;
    }

    .nav-menu.active ul li {
        opacity: 1; 
    }

    .nav-menu ul li a {
        transform: translateY(-20px); 
        transition: transform 0.5s ease-in-out; 
    }

    .nav-menu.active ul li a {
        transform: translateY(0); 
    }

    .hero-text {
        background-color: #0c506d00;
    }

    .hero h1 {
        font-size: 36px;
    }

    .hero p {
        font-size: 18px;
    }

    .content0 {
        margin: 20px 10px;
        padding: 30px;
    }

    .content1 {
        padding: 40px 20px;
        margin: 30px auto;
        margin-right: 20px;
        margin-left: 20px;
    }

    .services {
        grid-template-columns: 1fr;
    }

    #map {
        width: 80%;
        margin: 20px auto;
    }
    
    .logo11 {
        height: 35px;
        margin-right: 30px; 
    }



    .ul-map {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column; 
        margin-top: 300px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 480px) {
    .hero h1 {
        font-size: 28px;
    }

    .hero p {
        font-size: 16px;
    }

    .content1 {
        padding: 30px 15px;
        margin-right: 20px;
        margin-left: 20px;
    }

    .services {
        grid-template-columns: 1fr;
    }

    .contact-btn {
        width: 50px;
        height: 50px;
        font-size: 20px;
    }

    .logo11 {
        height: 32px;
        margin-right: 5px; 
    }

    .ul-map {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column; 
        margin-top: 300px;
        margin-right: 10px;
    }

    nav ul {
        gap: 5px;
    }

    nav ul li a {
        font-size: 16px;
        padding: 3px;
    }

    nav ul li a:hover {
        font-size: 17px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        transform: translateY(-3px);
    }
}

