/* ::selection {
    color: white;
    background-color: #3C8DBC;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}


.fade-in.show {
    opacity: 1;
}


body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

header {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0 20px;
    z-index: 1000;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

header div {
    display: flex;
    align-items: center;
    margin-right: auto;
}

/*Ana, te amo meu amor*/

header img {
    height: 40px;
    margin-right: 20px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    transition: font-size 0.3s ease, background-color 0.3s, transform 0.3s ease;
}

nav ul li a:hover {
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    transform: translateY(-3px);
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.hamburger span {
    height: 3px;
    width: 28px;
    background-color: white;
    margin: 4px;
    transition: 0.3s;
}

.hamburger.toggle span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.toggle span:nth-child(2) {
    opacity: 0;
}

.hamburger.toggle span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    background-image: url(../img2/bk2temp.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero h1 {
    font-size: 58px;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 1s forwards;
}

.hero p {
    font-size: 24px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s 0.5s forwards;
}

button {
    background-color: #3C8DBC;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s ease;
}

.SM-button,
.SM-button-1 {
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    background-color: #3C8DBC;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.SM-button:hover,
.SM-button-1:hover {
    background-color: #72a1bd;
}

.SM-button-1 {
    margin-top: -90px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 450px;
    overflow: hidden;
    margin: 0 auto;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel img {
    min-width: 100%;
    max-height: 500px
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(60, 141, 188, 0.8);
    border-radius: 5px ;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 500;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

.content0 {
    padding: 50px;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    background-size: cover;
    margin: 40px 150px;
    border-radius: 10px;
}   

.content0.show {
    opacity: 1;
    transform: translateY(0);
    padding: 50px;
}

.p-content1 {
    font-size: 20px;
    margin-bottom: 20px;
}

.content1 {
    margin: 50px auto;
    padding: 60px 50px;
    border: 2px solid #3C8DBC;
    border-radius: 10px;
    background-color: #f4f4f4;
    max-width: 1000px;
    text-align: center;
    color: #333;
}

.content1 h2 {
    color: #3C8DBC;
    margin-bottom: 20px;
}

.content1 img {
    display: block;
    margin: 30px auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.map-text {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    padding: 0 15px;
}

#servicos {
    background-color: #ffffff;
    padding: 60px 20px;
    box-shadow: inset 0px 0px 20px -1px rgba(0, 0, 0, 0.1);
}

#servicos h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 1s forwards;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.service p {
    font-size: 19px;
}

.service {
    background: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
}

.service:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.tutorias {
    margin-top: 25px;
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.Tutorial {
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    text-align: left;
    transition: transform 0.3s ease;
}

.Tutorial:hover {
    transform: translateY(-5px);
}

.Tutorial h3 {
    font-size: 22px;
    color: #333;
}

.Tutorial p {
    font-size: 18px;
    line-height: 1.6;
    color: #212121;
}

.tut-img {
    width: 600px;
    border-radius: 10px;
    margin-top: 15px;
}

.contents {
    position: relative;
    padding: 30px 10px;
    margin-top: 100px;
    text-align: center;
}

#tutorial {
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    max-width: 1400px;
    margin: 0 auto;
    width: calc(100% - 40px);
    height: 810px;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 20px -1px rgba(0, 0, 0, 0.1);
}

.contents9 {
    position: relative;
    padding: 30px 10px;
    margin-top: 100px;
    text-align: center;
}

.parceiros {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 15px;
    flex-wrap: wrap;
}

.parceiro {
    text-align: center;
    margin: 10px;
    flex: 1 1 180px;
}

.parceiro img {
    width: 180px;
    height: auto;
    margin-top: 10px;
    transition: transform 0.3s ease;
}

.parceiro img:hover {
    transform: scale(1.1);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 9));
    }
}

.Modalidades-H {
    margin: 20px auto 40px auto;
    position: relative;
    text-align: center;
}

.Modalidades {
    background: #00000003;
    height: 280px;
    margin: 100px auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.Modalidades::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.Modalidades::before {
    left: 0;
    top: 0;
}

.Modalidades .Modalidades-P {
    animation: scroll 25s linear infinite;
    display: flex;
    width: calc(250px * 18);
}

.Modalidades .modalidade {
    height: 100px;
    width: 250px;
}

.modalidade>p {
    max-width: 150px;
}

.Modalidades-P.pausada {
    animation-play-state: paused;
}

.mapa-legenda {
    display: flex;
    align-items: flex-start;
}

#mapa-brasil {
    margin-right: 20px;
}

.map {
    margin-top: 50px;
}

#mapa-brasil img {
    width: 120%;
}

.ul-map {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-top: 300px;
    margin-left: 100px;
}

#li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.andre::before,
.elson::before,
.mytempo::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.andre::before {
    background-color: #EE243D;
}

.elson::before {
    background-color: #0C506D;
}

.mytempo::before {
    background-color: #0C142C;
}

.titulo-map {
    text-align: center;
    font-size: 1.2rem;
    margin: 60px 0 15px 0;
    width: 100%;
}

.sectiono {
    padding: 50px 20px;
    max-width: 600px;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    background-color: #ffffff;
    margin-bottom: 100px;
    box-shadow: inset 0px 0px 20px -1px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

form input,
form textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background-color: #3C8DBC;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background-color: #5094bb;
}

.section-title {
    margin-bottom: 20px;
    font-size: 36px;
    color: #333;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 1s forwards;
}

footer {
    background-color: #3C8DBC;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #ffffff;
    margin-bottom: -20px;
    margin-top: -20px;
    flex-wrap: wrap;
}

.footer-d {
    text-align: right;
    color: #ffffff;
    margin-right: 20px;
}

.footer-t {
    margin: 0;
    font-size: 18px;
}

.footer-p {
    margin: 5px 0;
}

@keyframes fadeInUp {

    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes slideIn {

    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

@media (max-width: 1024px) {
    .Modalidades-P div {
        width: 45%;
    }
}

@media screen and (max-width: 1000px) {

    #tutorial {
        max-width: 100%;
        width: calc(100% - 40px);
        height: auto;
        margin-left: 20px;
        margin-right: 20px;
    }

}

@media (hover: none) and (pointer: coarse) {
    .Modalidades .Modalidades-P {
        animation-play-state: running;
    }
}

@media screen and (max-width: 768px) {

    .tut-img {
        width: 500px;
        display: none;
    }

    .Modalidades .Modalidades-P {
        width: calc(200px * 18);
        gap: 5px;
    }

    .Modalidades .modalidade {
        width: 200px;
    }

    header {
        height: 70px;
        padding: 0 10px;
    }

    .map-text {
        max-width: 100%;
        padding: 0 10px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .hero {
        background-image: url('/src/img/background-temp-retrato.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .Modalidades-P div {
        width: 100%;
        margin-bottom: 20px;
    }

    .Modalidades {
        width: 90%;
        padding: 15px;
    }

    .Modalidades-H h2 {
        font-size: 1.8em;
    }

    .Modalidades-P.pausada {
        animation-play-state: paused;
    }

    nav ul {
        flex-direction: column;
        position: fixed;
        top: 60px;
        right: 0;
        width: 40%;
        background-color: #3C8DBC;
        align-items: center;
        justify-content: space-evenly;
        overflow: hidden;
        border-radius: 0% 0% 0px 10px;
        height: 0;
        opacity: 0;
        visibility: hidden;
        transition: height 0.5s ease, opacity 0.5s ease, visibility 0.5s;
    }

    .nav-active {
        height: 40%;
        opacity: 1;
        visibility: visible;
        transition: height 0.5s ease, opacity 0.5s ease, visibility 0.5s;
    }

    .hamburger {
        display: flex;
        justify-content: space-around;
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    .hero h1 {
        font-size: 36px;
    }

    .hero p {
        font-size: 18px;
    }

    .content0 {
        margin: 20px 10px;
        padding: 30px;
    }

    .content1 {
        padding: 40px 20px;
        margin: 30px auto;
        margin-right: 20px;
        margin-left: 20px;
    }

    .sectiono {
        max-width: 350px;
    }

    .services {
        grid-template-columns: 1fr;
    }

    #map {
        width: 80%;
        margin: 20px auto;
    }

    .logo11 {
        height: 35px;
        margin-right: 30px;
    }

    .ul-map {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        margin-top: 300px;
        margin-right: 10px;
    }

    .mapa-legenda {
        flex-direction: column;
    }

    .img-bm {
        max-height: 280px;
        max-width: 280px;
    }

    #mapa-brasil {
        height: 30px;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
        gap: 10px;
        padding: 15px;
    }

    .footer-d {
        text-align: center;
        margin-left: 40px;
    }

    .titulo-map {
        text-align: center;
        font-size: 16px;
    }

    .footer-t {
        font-size: 16px;
    }

    .footer-p {
        font-size: 14px;
        margin: 3px 0;
    }

}

@media screen and (max-width: 480px) {

    .hero h1 {
        font-size: 28px;
    }

    .hero {
        background-image: url('/src/img/background-temp-retrato.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .Modalidades-H h2 {
        font-size: 1.5em;
    }

    .Modalidades-P div {
        width: 100%;
        padding: 8px;
    }

    .Modalidades-P img {
        width: 80px;
        height: 80px;
    }

    .Modalidades-P p {
        font-size: 1em;
    }

    .hero p {
        font-size: 16px;
    }

    .content1 {
        padding: 30px 15px;
        margin-right: 20px;
        margin-left: 20px;
    }

    .services {
        grid-template-columns: 1fr;
    }

    .contact-btn {
        width: 50px;
        height: 50px;
        font-size: 20px;
    }

    .logo11 {
        height: 32px;
        margin-right: 5px;
    }

    .ul-map {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        margin-top: 300px;
        margin-right: 10px;
    }

    nav ul {
        gap: 5px;
    }

    nav ul li a {
        font-size: 16px;
        padding: 3px;
    }

    nav ul li a:hover {
        font-size: 17px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        transform: translateY(-3px);
    }

    .titulo-map {
        margin: 10px 40px 10px 40px;
        font-size: 16px;

    }

    .map-text {
        padding: 0 5px;
    }

}